{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "transform-class-properties",
    "macros",
    "preval"
  ]
}
